@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* reset */
*{ margin: 0; padding: 0; box-sizing: border-box; }
ul,ol,li{ list-style: none; }
a{ color: inherit; text-decoration: none; }

section{
    width: 340px;
    padding: 30px;
    margin: 50px auto;
    background: #fff;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    border-radius: 10px;
}

/* menu */
section .menu{
    width: 100%;
}
section .menu::after{
    content: '';
    display: block;
    clear: both;
}
section .menu a{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #666;
}
section .menu a:nth-of-type(1){
    float: left;
}
section .menu a:nth-of-type(2){
    float: right;
}

/* profile */
section .profile{
    width: 100%;
    text-align: center;
}
section .profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
section .profile h1{
    font: 22px/1 'arial';
    color: #555;
    margin-bottom: 5px;
}
section .profile h2{
    font: normal 12px/1 'arial';
    color: #bbb;
    margin-bottom: 30px;
}
section .profile .btnView{
    display: block;
    width: 180px;
    height: 32px;
    margin: 0 auto;
    border-radius: 16px;
    font: bold 10px/32px 'arial';
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

/* contact */
section ul.contact{
    width: 100%;
    margin-bottom: 25px;
}
section .contact li{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
section .contact li:last-child{
    border-bottom: none;
}
section .contact li i{
    width: 20%;
    text-align: center;
    font-size: 15px;
    color: #555;
    text-shadow: 2px 2px 2px #ddd;
}
section .contact li span{
    font-size: 11px;
    font-family: 'Orbitron';
    color: #555;
    letter-spacing: 1px;
}

/* others */
section .others{
    width: 100%;
    text-align: center;
}
section .others a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    opacity: 0.4;
}
section .others a.on{
    opacity: 1;
}
section .others a:nth-of-type(1){
    background-color: #35e0f7;
    box-shadow: 5px 5px 10px rgba(74, 255, 255, 0.7);
}
section .others a:nth-of-type(2){
    background-color: #55f5cd;
    box-shadow: 5px 5px 10px rgba(85, 245, 178, 0.7);
}
section .others a:nth-of-type(3){
    background-color: #ff80df;
    box-shadow: 5px 5px 10px rgba(255, 128, 223, 0.7);
}
section .others a:nth-of-type(4){
    background-color: #a794fd;
    box-shadow: 5px 5px 10px rgba(167, 148, 253, 0.7);
}

/* 멤버 별 프로필 스타일 적용 */
.member1{
    background-color: #ebfaff;
}
.member1 section article img{
    box-shadow: 5px 15px 30px rgba(173, 216, 230, 0.8);
}
.member1 section article .btnView{
    background: linear-gradient(45deg, #4affff, #35e0f7);   /* 그라디언트 각도, 시작 컬러, 마지막 컬러 */
    box-shadow: 5px 5px 10px rgba(74, 255, 255, 0.7);
}

.member2{
    background-color: #edffeb;
}
.member2 section article img{
    box-shadow: 5px 15px 30px #bdccb783;
}
.member2 section article .btnView{
    background: linear-gradient(45deg, #a0ff9d, #55f5b2);   /* 그라디언트 각도, 시작 컬러, 마지막 컬러 */
    box-shadow: 5px 5px 10px rgba(33, 250, 105, 0.3);
}

.member3{
    background-color: #fff3fd;
}
.member3 section article img{
    box-shadow: 5px 15px 30px rgba(252,99,214,0.2);
}
.member3 section article .btnView{
    background: linear-gradient(45deg, #ef74ff, #ff11c4);   /* 그라디언트 각도, 시작 컬러, 마지막 컬러 */
    box-shadow: 5px 5px 10px rgba(255, 17, 196, 0.357);
}

.member4{
    background-color: #f5f0ff;
}
.member4 section article img{
    box-shadow: 5px 15px 30px rgba(183,82,250,0.2);
}
.member4 section article .btnView{
    background: linear-gradient(45deg, #8e74ff, #a011ff);   /* 그라디언트 각도, 시작 컬러, 마지막 컬러 */
    box-shadow: 5px 5px 10px rgba(160, 17, 255, 0.4);
}