@charset 'utf-8';

*{ margin: 0; padding: 0; box-sizing: border-box; }
ul,ol,li{ list-style: none; }
a{ text-decoration: none; color: inherit; }

#slider{
  width: 100%; height: 100vh;
  position: relative; overflow: hidden;

  ul{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%; float: left;
    font-size: 40px; color: #fff;
    display: flex; justify-content: center; align-items: center;

    li{
      width: 100%; height: 100%;
      display: flex; justify-content: center; align-items: center;

      &[data-index="1"]{ background-color: lightblue; }
      &[data-index="2"]{ background-color: pink; }
      &[data-index="3"]{ background-color: orange; }
      &[data-index="4"]{ background-color: palegoldenrod; }
      &[data-index="5"]{ background-color: lightgreen; }
    }
  }
}

.prev{
  position: absolute;
  top: 50%;
  left: 5%;
  margin-top: -50px;
}
.next{
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -50px;
}
