@charset 'utf-8';

*{ margin: 0; padding: 0; box-sizing: border-box; }
ul,ol,li{ list-style: none; }
a{ text-decoration: none; color: inherit; }

body{
  background-color: #efefef;

  main{
    #searchBox{
      width: 100%; padding: 50px 60px 0px; overflow: hidden;
      font-size: 0;

      input[type='text']{ 
        width: 300px; height: 30px; background-color: #fff;
        border: 1px solid #ddd; padding: 0; padding-left: 10px;
        font: 14px/30px 'arial'; 
      }
      .btnSearch{
        width: 80px; height: 30px; background-color: #333; 
        font: bold 12px/30px 'arial'; text-align: center; 
        border: none; margin-left: 10px; color: #fff;
        cursor: pointer;
        vertical-align: top;
      }
    }
    #wrap{
      width: 100%; padding: 50px; overflow: hidden;
      #list{
        transform: translateY(100px);
        opacity: 0; 
        transition: 1s;
        // 이미지 로딩 후 호출 모션
        
        &::after{
          content: ''; display: block; clear: both;
        }
        
        li{
          width: calc(100% / 6); float: left; padding: 10px;
          div{
            width: 100%; background-color: #fff;
            padding: 20px; border-radius: 5px;
            box-shadow: 5px 5px 20px rgba(0,0,0,0.1);

            a{
              img{
                width: 100%;
              }
            }
            p{
              font: 12px/1.2 'arial'; color: #777;
              margin-top: 10px; margin-bottom: 10px;
            }
          }
        }

        &.on{
          transform: translateY(0px); opacity: 1;
        }
      }
    }

    #loading{
      width: 100%; height: 100%; transition: 1s;
      position: absolute; top: 0; left: 0;
      background-color: rgba(0,0,0,0.6);
      display: flex; flex-direction: column;
      justify-content: center; align-items: center;

      p{
        color: #fff;
        font-size: 50px;
      }

      &.off{ display: none; }
    }
  }
}

@media screen and (max-width: 1599px) {
  body main #wrap #list li{ width: calc(100% / 5);}
}

@media screen and (max-width: 1179px) {
  body main #wrap #list li{ width: calc(100% / 4);}
}

@media screen and (max-width: 959px) {
  body main #wrap #list li{ width: calc(100% / 4);}
}

@media screen and (max-width: 739px) {
  body main {
    #searchBox { padding: 30px 30px 0;
      input[type='text']{ width: 70%; }
      .btnSearch{ width: 30%; margin: 0; }
    }
    #wrap{ padding: 20px;
      #list li{ width: calc(100% / 3);}
    }
  }
}

@media screen and (max-width: 539px) {
  body main #wrap #list li{ width: calc(100% / 2);}
}

@media screen and (max-width: 399px) {
  body main #wrap #list li{ width: calc(100% / 1);}
}