@charset 'utf-8';

*{ margin: 0; padding: 0; box-sizing: border-box; }
ul,ol,li{ list-style: none; }
a{ text-decoration: none; color: inherit; }

#slider{
  width: 400px; height: 250px; margin: 150px auto;
  border: 5px solid #000; position: relative; overflow: hidden;

  .panel{
    width: 500%; height: 100%;
    // 100% * 5
    // #slider에 슬라이드 1개를 꽉차게 보여줄 경우 100% * 슬라이드 갯수
    // box-sizing: border-box; 때문에 390px * 5가 됨

    li{
      width: 20%; height: 100%; float: left;
      // 100% / 5
      // 슬라이드 개별 크기
      // .panel 틀 width / 슬라이드 갯수

      &:nth-of-type(1){ background-color: pink; }
      &:nth-of-type(2){ background-color: plum; }
      &:nth-of-type(3){ background-color: violet; }
      &:nth-of-type(4){ background-color: lightskyblue; }
      &:nth-of-type(5){ background-color: lightblue; }
    }
  }

  .btns{
    position: absolute; bottom: 15px; left: 50px;
    li{
      float: left; margin-right: 20px;
      a{
        display: block; width: 20px; height: 20px;
        background-color: #fff;
      }

      &.on a{ background-color: #000; }
    }
  }
}