@charset 'utf-8';

/* 

  flex-basis
  - flex box의 기본 크기를 설정
  - %로 지정

*/


* { margin: 0; padding: 0; box-sizing: border-box; }

main{ width: 100%; height: 100vh; }

section{
  width: 100%; background-color: lightgray;
  display: flex;
}

section article{
  background-color: lightblue;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: black;
  width: 100px;

  flex: 1;
}
